*{
    margin:0;
    padding:0;
}
nav{
    padding:10px 50px;
    background-color: #eaae00;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    display: inline-block;
    height:60px;
    width:170px;

}
 nav .nav-list{
    display:inline-block;
 }

 nav .nav-list li{
    display: inline-block;
    padding:20px 30px;
    font-size:24px; 
 }

 nav .nav-list li a{
    text-decoration: none;
      
    color:white;
 }

 .search-group{    
    height:auto; 
    display: flex;
    align-items: center;   
    position:relative;
    bottom:6px;
    box-shadow: 10px 10px 26px -2px rgba(0,0,0,0.75);
 }

 .search-group #searchText{
    background:#ffc209;
    border:0;    
    font-size:12px;
    padding:6px;
    width:170px;
    color:white;
 }

 #searchText::placeholder{
    color:white;
 }

 .search-group button{
    background-color: #00bec9;
    border: 0;
    outline:0;
    font-size:24px;
    padding:0 10px;

 }

 #searchText:active, #searchText:focus{
    border:0;
    outline:0;
 }